*{
  scroll-behavior: smooth;
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
  /* background-color:#000020; */
  background-color:#02000e;
  background-color:#000016;

  color: white;
  font-family:Poppins,sans-serif;
  
  
  
}


:root {
  --orange-color: #f2a81e;
  --title-color: #fafafa;
  --text-color: #a7abb4;
  --white-color: #fff;


  /* Fonts */
  --text-fonts: "Poppins",sans-serif;
  --title-font: "Berliana",sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
}
